{% extends 'navigationBar.html' %}
{% load static %}
{% block content %}


<div class="box-element">
    <a  class="btn btn-outline-dark" href="{% url 'contents' %}">Continue Shopping</a>
	<div class="cart-row">
		<div style="flex:2"></div>
		<div style="flex:2"><strong>Item</strong></div>
		<div style="flex:1"><strong>Price</strong></div>
		<div style="flex:1"><strong>Quantity</strong></div>
		<div style="flex:1"><strong>Total</strong></div>
	</div>
	
	{% for item in items %}
	<div class="cart-row">
		<div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
		<div style="flex:2"><p>{{item.product.name}}</p></div>
		<div style="flex:1"><p>£{{item.product.price|floatformat:2}}</p></div>
		<div style="flex:1">
				<div class="inline-block">
				<img class="chg-quantity" src="{% static  'images/remove.png' %}"></div>
                <p class="quantity">{{item.quantity}}</p>
				<div class="inline-block">
				<img class="chg-quantity" src="{% static  'images/add.png' %}"></div>
		</div>
		<div style="flex:1"><p>£5</p></div>
	</div>
	{% endfor %}
	
		<br>
		<div class="box-element">

		</div>
	</div>
</div>


{% endblock content %}