{% extends 'main.html' %}
{% load static %}
{% block content %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
		.btn-outline-dark {
			color: #212529;
			background-color: #fff;
			border-color: #ABCCD8;
		}
	  
		.btn-outline-dark:hover {
		  color: #212529;
		  background-color: #66A1B8;
		  border-color: #66A1B8;
	  }

	  .col-lg-2{
		right: 0;
		position: fixed;
	  }

	  .col-lg-12{
		  top: 70px;
	  }
	</style>
</head>

		<div class = "row">
		<div class = "col-lg-2">
		<div class="box-element" id = "form-wrapper">
			<a  class="btn btn-outline-dark" href="{% url 'cheapest_price' %}">Find cheapest price</a>
		</div></div>

		<div class = "col-lg-12">
<div class="box-element">
    <a  class="btn btn-outline-dark" href="{% url 'contents' %}">Continue Shopping</a>
	<div class="cart-row">
		<div style="flex:2"></div>
		<div style="flex:2"><strong>Item</strong></div>
		<div style="flex:1"><strong>Price</strong></div>
		<div style="flex:1"><strong>Quantity</strong></div>
		<div style="flex:1"><strong>Total</strong></div>
	</div>

	{% for item in items %}
	<div class="cart-row">
		<div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
		<div style="flex:2"><p>{{item.product.name}}</p></div>
		<div style="flex:1"><p>£{{item.product.price|floatformat:2}}</p></div>
		<div style="flex:1">
				<div class="inline-block">
				<img data-product = {{item.product.id}} data-action = "remove" class="chg-quantity update-cart" src="{% static  'images/remove.png' %}"></div>
                <p class="quantity">&nbsp&nbsp;{{item.quantity}}</p>
				<div class="inline-block">
				<img data-product = {{item.product.id}} data-action= "add" class="chg-quantity update-cart" src="{% static  'images/add.png' %}"></div>
		</div>
		<div style="flex:1"><p>£{{item.get_total}}</p></div>
	</div>
	{% endfor %}
	
	</div>
</div>


{% endblock content %}